.wrapper{
float:left;
margin-right:40px;
}
.wrapper2{
float:left;
}
.subject{
line-height: 175%;
border: 1px solid;
padding: 2px 0px 2px 5px;
display: inline-block;
font-size: 15px;
width:100%;
white-space:nowrap;
margin-bottom: 30px;
}
h3{
margin-top: -5px;
margin-bottom: 5px;
}
body {
padding-bottom: 40px;
}

